 


.cardCol:not(:last-child){
    border-right: 2px dashed #4797FF;
    
    }
    
    .cardCol>div>a{
       
        text-decoration: none;
    }
    .cardCol>div>a>p:last-child{
        color: gray;
       
    }
    
    .cardCol>div>a>p:first-child{
        color: #4797FF;
       
    }